<h2 style="padding-top: 20px;"><b>education</b></h2>
<table style="padding-top: 20px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tbody>
    <tr>
      <td style="padding-right: 20px; width:25%;vertical-align:middle">
        <img src="assets/img/harvard-logo.svg" alt="harvard-logo" width="140" height="140">
      </td>
      <td width="75%" valign="middle">
        <p><strong>Harvard University</strong></p>
        <p>
          <a href="https://datascience.harvard.edu/">Master of Science in Data Science</a> | Sep 2025 – Jan 2027 (Expected)<br>
          Cambridge, MA, USA<br>
          <strong>Relevant courses:</strong> Advanced Practical MLOps, High-Performance Computing<br>
          <strong>Activities:</strong> Research Assistant at Harvard Business School, Policy & Technical Fellow at AI Safety Student Team, Dancer at Harvard Expression Dance Company (Competion Team)
        </p>
      </td>
    </tr>
    <tr>
      <td style="padding-right: 20px; width:25%;vertical-align:middle">
        <img src="assets/img/keyu/mcgill.jpg" alt="mcgill-logo" width="140" height="140">
      </td>
      <td width="75%" valign="middle">
        <p><strong>McGill University</strong></p>
        <p>
          <a href="https://www.cs.mcgill.ca/">B.Sc in Computer Science (Internship Program), Minor in Geographic Information Science</a> | Sep 2020 – Dec 2024<br>
          Montreal, QC, Canada<br>
          <strong>GPA:</strong> 3.96/4.0<br>
          <strong>Awards:</strong> NSERC Undergraduate Student Research Awards (2x, total of $17,700), Perseverance Award for Women in Technology ($3,000), Dean’s Honour List (3x)<br>
          <strong>Relevant courses:</strong> Applied Machine Learning, Natural Language Processing, Computer Vision, Database Systems, Algorithm Design, Discrete Mathematics, Statistics, and 25 others
        </p>
      </td>
    </tr>
  </tbody>
</table>