<h2  style="padding-top: 20px;"><b>education</b></h2>
<table style="padding-top: 20px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/keyu/mcgill.jpg" alt="clean-usnob" width="140" height="140">
    </td>
    <td width="75%" valign="middle">
      <p>
      <strong>McGill University</strong></p>
      <p1><a href="https://www.cs.mcgill.ca/">BSc. in Computer Science</a> | 2020-2024 
      <br><strong>Computer Science Major, Geographic Information Science Minor</strong> (cGPA: 3.96/4.0)
      <br><strong>Relevant courses:</strong> Applied Machine Learning, Natural Language Processing, Software Design, Algorithms and Data Structures, Algorithm Design, Fundamentals of Computer Vision, Advanced Geographic Information Systems
      <br><strong>Awards:</strong> Dean’s Honours List 2020 & 2021, NSERC Undergraduate Student Research Awards 2023 & 2024
      </p1>
    </td>
  </tr>
</tbody></table>