<h2 style="padding-top: 10px;"><b>experience</b></h2>
<p>For more past work experience, please visit my <a href="https://www.linkedin.com/in/keyuw/">LinkedIn</a></b></p>
<table style="padding-top: 10px; width:100%;border:0px;border-spacing:0px;border-collapse:separate;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/selfsup.jpg" alt="clean-usnob" width="160" height="140">
    </td>
    <td width="75%" valign="middle">
      <p1>
      <strong>California Gold Rush: </strong>
      <br> [Oral Presentation @ GIS Day 2022] @ <strong><a href="https://engsci.utoronto.ca/program/thesis/">U of T Eng Sci</a></strong>, supervised by <strong><a href="https://www.trailab.utias.utoronto.ca/">Sanja Fidler</a></strong> 
      <br> <br> Conducting an analysis of inter-image relationships for contrastive learning to investigate how context between images can be used to improve part-based dense representation learning. </p1>
      <br> <br>
    </td>
  </tr>
</tbody></table>

<table style="padding-top: 30px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/carla_imi.gif" alt="clean-usnob" width="160" height="140">
    </td>
    <td width="75%" valign="middle">
      <p1>
      <strong>Unsupervised Multimodal Representation Learning for Robot Controls</strong>
      <br> [Research Project] @ <strong><a href="https://rvl.cs.toronto.edu/">RVL</a></strong>. With Yewon L., Pranit C.
      <br> <br> Investigated how unsupervised representation learning could be utilized in an imitation learning (IL) task such as robot path following. In this project, we successfully trained a multimodal representation from unlabelled path traversal data, fine-tuned on minimal labeled data.</p1>
    </td>
  </tr>
</tbody></table>

</tbody></table>
<table style="padding-top: 30px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/Gameboy.gif" alt="clean-usnob" width="160" height="140">
    </td>
    <td width="75%" valign="middle">
      <p1>
      <strong>Original Gameboy Project: Bit's Adventures</strong>
      <br> [Final Project], University of Toronto, MIE438 Microcontrollers and Embedded Processors.
      <br> <a href="https://github.com/Maelstrum127/MIE438-GameBoy-Project">Code</a> / <a href="https://www.youtube.com/watch?v=2vMHTOsuGYA&ab_channel=CatGlossop">Demo Video</a>
      <br> <br> Bit’s Adventure is an original interactive RPG for the Original Game Boy which was coded using gbdk package in C. The game can be played on Game Boy emulators such as mGBA. </p1>
    </td>
  </tr>
</tbody></table>