<h2 style="padding-top: 30px;"><b>experience</b></h2>
<p>For more past work experience, please visit my <a href="https://www.linkedin.com/in/keyuw/">LinkedIn</a></b></p>

<table style="padding-top: 10px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/keyu/harvard-law-school.webp" alt="berkman-klein" width="160" height="150">
    </td>
    <td width="75%" valign="middle">
      <p1>
      <strong>AI Workstreams Research Assistant</strong>
      <br><a href="https://cyber.harvard.edu/">Harvard Law School - Berkman Klein Center For Internet & Society</a> | 2025-Present
      <br> <br> Conducting literature review on AI self-representation and model introspection, including evaluation of LLMs' self-knowledge, reasoning accuracy, and transparency; building benchmarks for model agency and self-reporting reliability.</p1>
    </td>
  </tr>
</tbody></table>

<table style="padding-top: 30px; width:100%;border:0px;border-spacing:0px;border-collapse:separate;"><tbody>
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/keyu/oist-logo.jpg" alt="oist" width="160" height="150">
    </td>
    <td width="75%" valign="middle">
      <p1>
      <strong>Machine Learning & Data Science Research Intern</strong>
      <br><a href="https://www.oist.jp/">Okinawa Institute of Science and Technology (OIST)</a> | 2025
      <br> <br> Led a team of 4 in designing, implementing, and analyzing experiments on understanding LLM's sycophantic behavior inside model architecture, running inference on 15 open-source models from HuggingFace on GPU clusters. Published co-first authored <a href="https://arxiv.org/abs/2508.02087">paper</a> on LLM mechanistic interpretability at AAAI 2026 (acceptance rate 17.6%).</p1>
    </td>
  </tr>
</tbody></table>

<table style="padding-top: 30px; width:100%;border:0px;border-spacing:0px;border-collapse:separate;"><tbody>
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/keyu/moonarch-logo.png" alt="moonarch" width="160" height="150">
    </td>
    <td width="75%" valign="middle">
      <p1>
      <strong>Machine Learning Engineer</strong>
      <br><a href="https://moonarch.io/">Moonarch</a> | 2025
      <br> <br> Built a document extraction pipeline using Claude API and open-source NLP tools, structuring insights from over 5,000 mixed-format startup profiles (PDFs with images and scanned docs) using Pydantic AI, boosting accuracy by 32%.</p1>
    </td>
  </tr>
</tbody></table>

<table style="padding-top: 30px; width:100%;border:0px;border-spacing:0px;border-collapse:separate;"><tbody>
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/keyu/kaust-logo.png" alt="kaust" width="160" height="150">
    </td>
    <td width="75%" valign="middle">
      <p1>
      <strong>Visiting Student Researcher - Provable Responsible AI and Data Analytics Lab</strong>
      <br><a href="https://www.kaust.edu.sa/en/">King Abdullah University of Science and Technology (KAUST)</a> | 2025
      <br> <br> Executed large-scale LLM evaluation pipelines for fraud detection research, benchmarking 15 open- and closed-source models via API on 8,500+ fraud cases self-designed. Co-authored a peer-reviewed <a href="https://arxiv.org/abs/2502.12904">paper</a> at Findings of the Association for Computational Linguistics (ACL) 2025.</p1>
    </td>
  </tr>
</tbody></table>

<table style="padding-top: 30px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/keyu/mila_logo.png" alt="clean-usnob" width="160" height="150">
    </td>
    <td width="75%" valign="middle">
      <p1>
      <strong>AI Research Intern</strong>
      <br><a href="https://mila.quebec/en">Mila, Quebec AI Institute</a> | 2024
      <br> <br> Under the supervision of Prof. Doina Precup, researched on problems on model upstream tracking in the current AI ecosystem and ran weekly meetings for actively developing respective solution repository with a team of 4 developers. Corresponding paper is under review for NeurIPS 2024 workshops. </p1>
    </td>
  </tr>
</tbody></table>

<table style="padding-top: 30px; width:100%;border:0px;border-spacing:0px;border-collapse:separate;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/keyu/bell-canada.png" alt="clean-usnob" width="160" height="150">
    </td>
    <td width="75%" valign="middle">
      <p1>
      <strong>Data Scientist Intern</strong>
      <br><a href="https://www.bell.ca/">Bell Canada</a> | 2024
      <br> <br> Conducted data analysis on Google Cloud Platform, including query optimization and extensive RegEx work for data extraction. Implemented models from Hugging Face & followed Agile methodologies to ensure effective collaboration, using JIRA Board & Confluence.</p1>
      <br> <br>
    </td>
  </tr>
</tbody></table>

<table style="padding-top: 30px; width:100%;border:0px;border-spacing:0px;border-collapse:separate;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/keyu/bell-canada.png" alt="clean-usnob" width="160" height="150">
    </td>
    <td width="75%" valign="middle">
      <p1>
      <strong>AI & Data Engineering Intern</strong>
      <br><a href="https://www.bell.ca/">Bell Canada</a> | 2023
      <br> <br> Built ML algorithms including clustering on business sites using frameworks such as Scikit-learn; Data analysis & engineering support for building training dataset of a Presence-only model. Utilized Agile methodologies (Scrum) to ensure effective collaboration with team members. </p1>
    </td>
  </tr>
</tbody></table>


<table style="padding-top: 30px; width:100%;border:0px;border-spacing:0px;border-collapse:separate;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/keyu/geography.jpg" alt="clean-usnob" width="160" height="150">
    </td>
    <td width="75%" valign="middle">
      <p1>
      <strong>Undergraduate Research Assistant</strong>
      <br><a href="https://www.mcgill.ca/geography/">Department of Geography, McGill University</a> | 2023-2024
      <br> <br> Under the supervision of Professor Raja Sengupta, I am developing the <a href="https://westernhanmap.github.io/research.mcgill.ca/">project website</a> including implementing time sliders for geospatial data visualization for Shi Rao's trip based on Agent-based Models during the Western Han Period, collaborting with the Department of History.</p1>
      <br> <br>
    </td>
  </tr>
</tbody></table>

<table style="padding-top: 30px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/keyu/applebycamps.png" alt="clean-usnob" width="160" height="150">
    </td>
    <td width="75%" valign="middle">
      <p1>
      <strong>Head Instructor Coding & Video Game Design</strong>
      <br><a href="https://www.appleby.on.ca/ourcommunity/camps/summercamps">Appleby Camps</a> | 2022
      <br> <br> Planned course materials for coding and video game design camps, and taught basic Python and GameMaker to over 140 children from 7 to 14 years old.</p1>
    </td>
  </tr>
</tbody></table>

<table style="padding-top: 30px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/keyu/cssa.png" alt="clean-usnob" width="160" height="150">
    </td>
    <td width="75%" valign="middle">
      <p1>
      <strong>Vice President Media</strong>
      <br><a href="https://www.mcgillcssa.ca/">McGill University Chinese Students & Scholars Association(CSSA)</a> | 2020-2024
      <br> <br> Organized Montreal Chinese New Year Gala by planning auditions and rehearsals as a vice director; Collaborate within the media team of 7 people as a leader to shoot 4 promotional videos for club sponsors each year; Lead internal events for 60 members such as tie-dying uniforms and club photoshoots.</p1>
    </td>
  </tr>
</tbody></table>

<table style="padding-top: 30px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/keyu/ef.png" alt="clean-usnob" width="160" height="150">
    </td>
    <td width="75%" valign="middle">
      <p1>
      <strong>Host</strong>
      <br><a href="https://www.english1.com/locations/china/nanjing/">EF Education First</a> | 2020-2021
      <br> <br> Delivered the welcome and closing speeches for 320 demo classes facing potential customers (who are mostly kids aged from 3 to 7); Ensured an uplifting class atmosphere and smooth activities; Solved in-class conflicts often.</p1>
    </td>
  </tr>
</tbody></table>

<table style="padding-top: 30px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/keyu/ivhq.png" alt="clean-usnob" width="160" height="150">
    </td>
    <td width="75%" valign="middle">
      <p1>
      <strong>Volunteer Kindergarten English Teacher in Vietnam</strong>
      <br><a href="https://www.volunteerhq.org/ca/">International Volunteer HQ</a> | 2019
      <br> <br> Taught over 100 local children aged from 2 to 5 basic English words and sentences in Ho Chi Minh City, Vietnam for half a month.</p1>
    </td>
  </tr>
</tbody></table>
