<h2><b>highlighting skills</b></h2>
<ul>
  <li>Programming Languages: Java, Python, C, JavaScript, HTML, CSS, MATLAB, Bash, OCaml</li>
  <li>Frameworks & Tools: JUnit, JavaFX, Git, D3.js, React.js</li>
  <li>Strong video and photo editing knowledge using Adobe Creative Cloud (Premiere, Photoshop, Lightroom)</li>
  <li>Dancer & Video creator when I want a break from 👩🏻‍💻👩🏻‍💻👩🏻‍💻</li>
  <li>Languages: English, Madarin(both native fluency), Japanese(JLPT N2 certified, working proficiency)</li>
</ul>