<div style="padding-top: 20px;">
  <h2><b>interests/ hobbies</b></h2>
  </div>
  <div class="row" style = "padding-top: 20px;">
      <div class="col-md-4 portfolio-item" align-items="center">
        <img class="img-responsive" src="assets/img/keyu/Dancing.jpg"  width="230" height="230" halign="middle">
        <br><p1 style="padding-top: 10px;"><strong>Dancing</strong>
        <br><br>I am an active dancer at <a href="https://www.instagram.com/krave_mcgill/?hl=en">K-RAVE McGill</a> and I enjoy performing and producing K-POP dancer cover videos.</p1>
      </div>
  
     <div class="col-md-4 portfolio-item">
        <img class="img-responsive" src="assets/img/keyu/Media.gif"  width="230" height="230">
        <br><p1 style="padding-top: 10px;"><strong>Video Production & Graphic Design</strong>
        <br><br> I have been involved in a video production team for the last 5 years,  with a main interest in food documentaries & travel vlogs. Check out my <a href=https://1148198290.wixsite.com/keyucreation>videography & graphic design portfolio</a> here!</p1>
      </div>
  
     <div class="col-md-4 portfolio-item">
        <img class="img-responsive" src="assets/img/keyu/LiuYiShou.gif"  width="230" height="230">
        <br><p1 style="padding-top: 10px;"><strong>Food Hunting</strong>
        <br><br>I'm an amateur food hunter who enjoys looking for underrated local food from all over the world! The most exciting part of travelling to me is to embrace the culture from local food and the interaction with locals during my food hunting journey. With my skills in video production, I'm glad that I could record my adventures with food! </p1>
      </div>
  
    </div>