<div style="padding-top: 20px;">
  <h2><b>interests/ hobbies</b></h2>
  </div>
  <div class="row" style = "padding-top: 20px;">
      <div class="col-md-4 portfolio-item" align-items="center">
        <img class="img-responsive" src="assets/img/piano.jpg"  width="230" height="230" halign="middle">
        <br><p1 style="padding-top: 10px;"><strong>Dancing, particularly K-pop dance covers</strong>
        <br><br>I am an active dancer at <a href="https://www.instagram.com/krave_mcgill/?hl=en">K-RAVE McGill</a> and I enjoy performing and producing dancer cover videos.</p1>
      </div>
  
     <div class="col-md-4 portfolio-item">
        <img class="img-responsive" src="assets/img/juneau.jpg"  width="230" height="230">
        <br><p1 style="padding-top: 10px;"><strong>Video Production</strong>
        <br><br>I'm lucky to have grown up in Toronto which has an abundance of parks and nature trails to explore. I enjoy finding new spots on the weekends and observing wildlife. Recently I encountered a fox family, American mink and a beaver! </p1>
      </div>
  
     <div class="col-md-4 portfolio-item">
        <img class="img-responsive" src="assets/img/chaetime.JPG"  width="230" height="230">
        <br><p1 style="padding-top: 10px;"><strong>Food Hunting</strong>
        <br><br>I'm an amateur food hunter who enjoys looking for underrated local food from all over the world! The most exciting part of travelling to me is to embrace the culture from local food and the interaction with locals during my food hunting journey. With my skills in video production, I'm glad that I could record my adventures with food! </p1>
      </div>
  
    </div>