<h2 style="padding-top: 30px;"><b>projects</b></h2>
<p>For more projects, please visit my <a href="https://github.com/asahahaha">Github</a></b></p>


<table style="padding-top: 10px; width:100%;border:0px;border-spacing:0px;border-collapse:separate;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/keyu/umr.png" alt="clean-usnob" width="160" height="140">
    </td>
    <td width="75%" valign="middle">
      <p1>
      <strong>Mitigating Downstream Model Risks via Model Provenance</strong>
      <br> [Under review for <strong>NeurIPS 2024</strong> workshops: SoLaR & EvalEval] [Oral Presentation @ McGill Undergraduate Computer Science Research Symposium]</a>
      <br> <a href="https://arxiv.org/abs/2410.02230">arXiv</a> / <a href="https://modelrecord.com/">Website</a> / <a href="https://github.com/modelrecords/modelrecords/tree/main">Code</a>
      <br> <br> Illustrated model provenance risk in healthcare, identified key properties for early warning systems, and proposed an open-source, community-led system for tracking model provenance, aiming to enhance transparency and establish a new standard for responsible model management. </p1>
    </td>
  </tr>
</tbody></table>

<table style="padding-top: 30px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/keyu/geolocation_inference.png" alt="clean-usnob" width="160" height="140">
    </td>
    <td width="75%" valign="middle">
      <p1>
      <strong>You Are At Where You Tweet: GPT Prompting to Geo-locate Twitter Users</strong>
      <br> [Independent Term Project] @ McGill, GEOG506 Advanced Geographic Information Systems
      <br> <a href="https://github.com/asahahaha/twitter-location-gpt-inference/blob/main/presentation.pdf">Presentation</a> / <a href="https://github.com/asahahaha/twitter-location-gpt-inference">Code</a>
      <br> <br> Employed a dataset featuring user-defined locations and tweet texts, the study involved grouping tweets by user, cleaning, and refining input prompts to optimize prediction accuracy; final top-3 accuracy of 47% for worldwide city location inference & 82% for Australian city predictions. </p1>
    </td>
  </tr>
</tbody></table>

<table style="padding-top: 30px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/keyu/california.jpg" alt="clean-usnob" width="160" height="140">
    </td>
    <td width="75%" valign="middle">
      <p1>
      <strong>California Gold Rush: An Event that Brought Thousands of Chinese Immigrants to the United States</strong>
      <br> [Oral Presentation on <strong>GIS Day 2022</strong>] @ Department of Geography, McGill U, class project for GEOG384 Principles of Geospatial Web
      <br> <a href="https://asahahaha.github.io/GoldRushStoryMap/">Website</a>
      <br> <br> Visualized the history and impacts of immigration to California during 1848-1869 via a story map; Developed base map using Mapbox & GeoJSON, then HTML & JavaScript for webmap showcase. </p1>
    </td>
  </tr>
</tbody></table>

<table style="padding-top: 30px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/keyu/fifa.jpg" alt="clean-usnob" width="160" height="140">
    </td>
    <td width="75%" valign="middle">
      <p1>
      <strong>
        2018 FIFA WORLD CUP: Visualize The Contentious Matches In The Most Diverse Games Yet</strong>
      <br> [Class Project] @ McGill, GEOG384 Principles of Geospatial Web. With Cohen E., Zhou J.
      <br> <a href="https://asahahaha.github.io/chord-fifa2018/">Website</a>
      <br> <br> Visualized the diversity of the 2018 FIFA World Cup by a interactive chord diagram using D3.js, JavaScript & HTML.</p1>
    </td>
  </tr>
</tbody></table>


<table style="padding-top: 30px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/keyu/frame.jpg" alt="clean-usnob" width="160" height="140">
    </td>
    <td width="75%" valign="middle">
      <p1>
      <strong>Frame Prediction For Aerial Objects from Traditional Computer Vision Algorithms</strong>
      <br>[Final Project] @ McGill, COMP558 Fundamentals of Computer Vision. With Lane-Smith J., Zhang R.
      <br> <a href="https://asahahaha.github.io/frame-prediction-aerial-objects/frame_prediction_report.pdf">Detailed Report</a> / <a href="https://github.com/asahahaha/frame-prediction-aerial-objects">Code</a>
      <br> <br> Developed object tracking & frame prediction methods for aerial objects in MATLAB based on classic computer vision algorithms. In this project, we've successfully implemented Farneback optical flow for object detection, Meanshift algorithm for object tracking, methods for background extraction and path prediction. </p1>
    </td>
  </tr>
</tbody></table>
